<nav class="site-nav">
  <div class="nav-left">
    <img class="site-logo"
         src="{{ '/assets/img/logo.png' | relative_url }}"
         alt="Authentic Idiocy logo" />
  
    <a class="site-title" href="{{ '/' | relative_url }}">
      Authentic&nbsp;Idiocy
    </a>
  </div>
  <div class="nav-right">
    <a href="{{ '/posts'   | relative_url }}">Posts</a>
    <a href="{{ '/archive' | relative_url }}">Archive</a>
    <a href="{{ '/tags'    | relative_url }}">Tags</a>
    <a href="https://github.com/{{ site.github.username }}">GitHub</a>
  </div>
</nav>
